<div class="timeline-row">
    <mat-card class="m-4 mat-elevation-z6">
        <mat-card-header>
            <div class="d-flex w-100 flex-wrap">
                <div>
                    <mat-card-title>
                        Morehead State University
                    </mat-card-title>
                    <mat-card-subtitle>
                        Morehead State University
                    </mat-card-subtitle>
                </div>
                <div class="ml-auto mr-4">
                    <div class="mat-card-title">
                        August 2016 - May 2020
                    </div>
                    <div class="mat-card-subtitle text-right">
                        4.0 GPA
                    </div>
                </div>
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content></mat-card-content>
    </mat-card>
</div>
