<div class="m-5 d-flex flex-column align-items-center">
  <mat-form-field class="w-100" [appearance]="'outline'">
    <mat-label>Glob Pattern</mat-label>
    <input matInput placeholder="**/*.spec.ts" [value]="pattern" (keyup)="updatePattern($event)">
  </mat-form-field>
  <div class="d-flex w-100" style="gap: 1.75rem">
    <mat-form-field [appearance]="'outline'" class="flex-grow-1">
      <mat-label>Test Strings</mat-label>
      <textarea matInput placeholder="**/*.spec.ts"></textarea>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Test Strings</mat-label>
      <textarea matInput placeholder="**/*.spec.ts"></textarea>
    </mat-form-field>
  </div>
</div>
<div class="d-flex">
  <div contenteditable #filesField>
    <div>files/test/x.spec.ts</div>
    <div>files/test/x.ts</div>
    <div>files/test/x.docs.md</div>
  </div>
</div>