<mat-card class="mx-4 mat-elevation-z4 portfolio-grid">
  <mat-card *ngFor="let project of projects$ | async" class="mat-elevation-z4">
    <mat-card-header>
      <div class="d-flex w-100">
        <div class="mr-auto">
          <mat-card-title>{{ project.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="project.tags?.length">{{ project.tags.join(', ') }}</mat-card-subtitle>
        </div>
        <app-language-logo
          *ngFor="let tech of project.technologyUsed"
          [language]="tech"
          class="tech-logo"
        ></app-language-logo>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="project.markdownDescription | marked"></p>
    </mat-card-content>
    <mat-card-actions class="w-100 d-flex">
      <button mat-button [routerLink]="[project.title]" class="mr-auto">View Details</button>
      <a
        *ngIf="project.sourceCodeLink"
        [href]="project.sourceCodeLink"
        mat-mini-fab
        matTooltip="Open Source"
        class="mr-2"
        color="primary"
        ><mat-icon>code</mat-icon></a
      >
      <a
        *ngIf="project.liveDemoLink"
        [href]="project.liveDemoLink"
        mat-mini-fab
        matTooltip="Live Site"
        color="primary"
        ><mat-icon>public</mat-icon></a
      >
    </mat-card-actions>
  </mat-card>
</mat-card>
