<mat-drawer-container class="flex-grow-1">
  <mat-drawer [mode]="'side'" opened>
      <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="d-flex flex-column">
    <app-toolbar
      (clear)="workspace.clear()"
      (undo)="workspace.undo()"
      (toolSelected)="workspace.drawingMode = $event"
      (contextChange)="workspace.render()"
      [snapSettings]="workspace.context"
      (snapSettingsChange)="setSnapSettings($event)"
    ></app-toolbar>
    <app-canvas class="workspace" #workspace></app-canvas>
  </mat-drawer-content>
</mat-drawer-container>
