<mat-drawer-container class="flex-grow-1">
  <mat-drawer [mode]="'side'" opened>
      <div class="workspace-sidebar">
          <h2>Help</h2>
          <h3>PolyLine Tool</h3>
          <ul>
              <li>Click to start drawing, or add another point to the line.</li>
              <li>Right click to end the line at any time.</li>
              <li>Connect the line to any of the visible handles to create a new room</li>
          </ul>
      </div>
  </mat-drawer>
  <mat-drawer-content class="d-flex flex-column">
    <app-toolbar
      (clear)="workspace.clear()"
      (undo)="workspace.undo()"
      (toolSelected)="workspace.drawingMode = $event"
      [(angleSnap)]="workspace.angleSnap"
      [(displayGrid)]="workspace.gridSnap"
    ></app-toolbar>
    <app-canvas class="workspace" #workspace></app-canvas>
  </mat-drawer-content>
</mat-drawer-container>
