<div class="container-fluid">
  <div class="row" [formGroup]="fg">
    <mat-form-field class="w-100" appearance="outline">
      <input
        type="text"
        placeholder="Game"
        aria-label="Emulated Game"
        matInput
        formControlName="gameControl"
        [matAutocomplete]="gameAuto"
      />
      <mat-autocomplete #gameAuto="matAutocomplete" [displayWith]="getName">
        <mat-option *ngFor="let option of filteredGames" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <input
        type="text"
        placeholder="Emulated Console"
        aria-label="target"
        matInput
        formControlName="emulationTargetControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredTargets" [value]="option.name">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Hardware</mat-label>
      <mat-select>
        <mat-option>-- None --</mat-option>
        <mat-optgroup *ngFor="let hostGroup of gameData.getEmulationHosts() | async" [label]="hostGroup.name">
          <mat-option *ngFor="let host of hostGroup.platforms" [value]="host.platformId">
            {{ host.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Hardware</mat-label>
      <mat-select>
        <mat-option>-- None --</mat-option>
        <mat-optgroup *ngFor="let hostGroup of gameData.getPlatforms() | async" [label]="hostGroup.name">
          <mat-option *ngFor="let host of hostGroup.platforms" [value]="host.platformId">
            {{ host.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row d-flex justify-content-between">
    <label class="mr-4">Gameplay</label>
    <tbs-rating [align]="'right'" [rating]="rm[0]"></tbs-rating>
  </div>
  <div class="row d-flex justify-content-between">
    <label class="mr-4">Sound</label>
    <tbs-rating [align]="'right'" [rating]="rm[1]"></tbs-rating>
  </div>
  <div class="row d-flex justify-content-between">
    <label class="mr-4">Video</label>
    <tbs-rating [align]="'right'" [rating]="rm[2]"></tbs-rating>
  </div>
  <div class="row d-flex justify-content-between">
    <label class="mr-4">Stability</label>
    <tbs-rating [align]="'right'" [rating]="rm[3]"></tbs-rating>
  </div>
</div>
{{ fg.value | json }}
<mat-dialog-actions>
  <button [color]="'primary'" (click)="submit()" [disabled]="fg.invalid" mat-raised-button>
    Submit Review
  </button>
</mat-dialog-actions>
