<ul class="pt-2 d-none" aria-hidden="false">
    <li><b>Web Technologies: </b> HTML 5, CSS3, Javascript (ES2015), Typescript, Angular</li>
    <li><b>Back End Technologies: </b> .NET Core, OData, GraphQL, NestJS, Express</li>
    <li><b>Integrations: </b> Kendo UI, Auth0, NgRx, Advanced RxJS</li>
    <li><b>Unit Testing: </b> Jasmine, Karma, Moq, NUnit</li>
    <li><b>Tooling: </b> Nx, xplat</li>
    <li><b>Cloud Providers: </b> Microsoft Azure, AWS</li>
    <li><b>Source Control: </b> Git, Azure Devops (formerly VSTS), Github, Gitlab, Bitbucket</li>
    <li><b>CI / CD: </b> Azure Pipelines, Github Actions, CircleCI</li>
</ul>
<div #svgContainer class="m-4"></div>