<div class="contact_info">
  <!-- <div class="contact_info__legend">
        Contact
    </div> -->
  <div class="contact_info__icons">
    <a href="mailto:craigorycoppola@gmail.com" matTooltip="Email"
      ><mat-icon fontIcon="fa-envelope" fontSet="fas"></mat-icon
    ></a>
    <a href="https://linkedin.com/in/craigoryvcoppola" matTooltip="LinkedIn" target="_blank" rel="noopener"
      ><mat-icon fontIcon="fa-linkedin" fontSet="fab"></mat-icon
    ></a>
    <a href="https://github.com/agentender" matTooltip="Github" target="_blank" rel="noopener"
      ><mat-icon fontIcon="fa-github" fontSet="fab"></mat-icon
    ></a>
  </div>
</div>
