<mat-card class="m-4 mat-elevation-z6">
  <mat-card-header>
    <mat-card-title>
      {{ job.company }}
    </mat-card-title>
  </mat-card-header>
  <ng-container *ngFor="let duty of job.duties">
    <mat-card-header>
      <mat-card-subtitle class="d-flex" *ngFor="let title of duty.titles"
        ><div>{{ title.title }}</div> <div class="ml-auto">{{title.start| date}} - {{title.end ? (title.end|date) : 'Present'}}</div></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <ul>
          <li *ngFor="let bullet of duty.bullets">
              <h6>{{bullet.title}}</h6>
              <div *ngIf="bullet.content" [innerHTML]="(bullet.content| marked)"></div>
          </li>
      </ul>
    </mat-card-content>
  </ng-container>
</mat-card>
