<div class="container">
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <h1>Breaker Boxer!</h1>
            <h2>How it Works</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptates ullam omnis facere doloremque veniam, fugit labore necessitatibus itaque, veritatis porro! Sint neque ratione repellat harum cumque rem architecto. Ratione!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam architecto non, totam fuga corrupti? Aliquam maiores cupiditate eum. At harum illo autem facere optio incidunt tempor amet, in officiis alias repellendus labore mollitia voluptatibus, itaque sit aliquam nobis commodi saepe iure sequi necessitatibus rem repellat vel fugit? Tempore, odio?</p>
            <p>Rem, ullam eius totam eligendi nesciunt sunt facere, a suscipit, fugit ab assumenda alias in molestiae velit nemo dolore. Adipisci nesciunt necessitatibus eligendi ad. Maiores maxim, esse tenetur assumenda, quidem ad fuga pariatur cum laborum earum, nostrum suscipit perspiciatis sit a quis dolore dolor nihil ipsum eum blanditiis facere at.</p>
            <p>Fuga eum modi consectetur doloremque sint repudiandae ratione repellat ea eaque labore nihil, nemo quos quod nostrum est nesciunt vitae perferendis laudantium tenetur reprehenderit ex quisquam odit esse hic! Perferendis exercitationem aspernatur, officiis autem, veritatis culpa voluptates cumque dignissimos similique ullam suscipit? Saepe iusto aperiam quasi molestias itaque quae voluptate?</p>
            <img src="assets/logo.png" class="invert" alt="" style="max-width: 100%; max-height: 40vh;">
        </div>
    </div>
</div>
