$primary: #3f51b5;
$primary-light: #303f9f;
$primary-dark: #1a237e;
$accent: #ff6e40;
$accent-light: #ff9e80;
$accent-dark: #ff3d00;

$dark-gray: #5c5c5c;

$primary-transparent: rgba($primary, 0.2);
$accent-transparent: rgba($accent, 0.2);

$text-color: #232323;
$dark-text-color: #eaeaea;

$dark-primary: #7986cb;
$dark-primary-light: #9fa8da;
$dark-primary-dark: #3f51b5;
$dark-accent: #ffd740;
$dark-accent-light: #ffe57f;
$dark-accent-dark: #ffc400;

$gray: #9a9a9a;

$dark-primary-transparent: rgba($dark-primary, 0.2);
$dark-accent-transparent: rgba($dark-accent, 0.2);

$background-color: #e3e3ef;
$dark-background-color: #30303f;

:root,
.light-theme {
  --primary: #{$primary};
  --primary-light: #{$primary-light};
  --primary-dark: #{$primary-dark};
  --accent: #{$accent};
  --accent-light: #{$accent-light};
  --accent-dark: #{$accent-dark};

  --gray: #{$gray};
  --black: black;
  --white: white;

  --text-color: #{$text-color};

  --primary-transparent: #{$primary-transparent};
  --accent-transparent: #{$accent-transparent};

  --background-color: #{$background-color};
  --background-color-transition: background-color 250ms ease-in-out;
}

.dark-theme {
  --primary: #{$dark-primary};
  --primary-light: #{$dark-primary-light};
  --primary-dark: #{$dark-primary-dark};
  --accent: #{$dark-accent};
  --accent-light: #{$dark-accent-light};
  --accent-dark: #{$dark-accent-dark};

  --gray: #{$dark-gray};
  --black: white;
  --white: black;

  --text-color: #{$dark-text-color};

  // --primary-transparent: #{$dark-primary-transparent};
  --accent-transparent: #{$dark-accent-transparent};

  --background-color: #{$dark-background-color};
}
