<div
  class="dark-mode-switch mat-elevation-z6"
  aria-label="Example icon-button with share icon"
  (click)="darkToggle()"
>
  <mat-icon class="dark-mode-switch--dark">nights_stay</mat-icon>
  <mat-icon class="dark-mode-switch--light">wb_sunny</mat-icon>
</div>
<!-- 

<button
  mat-icon-button
  class="example-icon mr-3"
  aria-label="Example icon-button with share icon"
  (click)="darkToggle()"
>
  <mat-icon *ngIf="service.dark">nights_stay</mat-icon>
  <mat-icon *ngIf="!service.dark">wb_sunny</mat-icon>
</button> -->
